---
defaults:
  - _self_
  - override sweeper: orion
  - override launcher: submitit_slurm

# output directory, generated dynamically on each run
run:
  dir: ${oc.env:SCRATCH}/autoreg/${hydra.job.name}/runs/${now:%Y-%m-%d}_${now:%H-%M-%S}
sweep:
  dir: ${oc.env:SCRATCH}/autoreg/${hydra.job.name}/multiruns/${now:%Y-%m-%d}_${now:%H-%M-%S}
  subdir: ${hydra.job.override_dirname}

job_logging:
  handlers:
    file:
      # Incorporates fix from https://github.com/facebookresearch/hydra/pull/2242
      filename: ${hydra.runtime.output_dir}/${hydra.job.name}.log

sweeper:
  # default parametrization of the search space
  params:
    model:
      lr: uniform(1e-4, 0.3)
      lr_thres: uniform(1e-6, 1)
      weight_decay: uniform(0, 1)
      dropout: uniform(0, 0.3)
      bn_momentum: uniform(1e-2, 0.3)

  experiment:
    name: experiment
    version: '1'

  algorithm:
    # type: bohb
    # config:
    #   seed: ${random_state}
    #   min_points_in_model: 20
    #   top_n_percent: 15
    #   num_samples: 64
    #   random_fraction: 0.33
    #   bandwidth_factor: 3
    #   min_bandwidth: 1e-3
    #   parallel_strategy:
    #     of_type: StatusBasedParallelStrategy
    #     strategy_configs:
    #       broken:
    #         of_type: MaxParallelStrategy
    type: random
    config:
      seed: ${random_state}

  worker:
    n_workers: -1
    max_broken: 10
    max_trials: 100

  storage:
    type: legacy

    database:
      type: pickleddb
      host: database.pkl

launcher:
  submitit_folder: ${hydra.sweep.dir}/.submitit/%j
  timeout_min: 720
  cpus_per_task: 4
  gpus_per_node: 1
  tasks_per_node: 1
  mem_gb: 4
  nodes: 1
  name: ${hydra.job.name}
  stderr_to_stdout: false
  _target_: hydra_plugins.hydra_submitit_launcher.submitit_launcher.SlurmLauncher
  partition:
  qos:
  comment:
  constraint:
  exclude:
  gres:
  cpus_per_gpu:
  gpus_per_task:
  mem_per_gpu:
  mem_per_cpu:
  account: ${oc.env:SLURM_COMPUTE_ACCOUNT}
  signal_delay_s: 120
  max_num_timeout: 0
  additional_parameters: {mail-user: '${oc.env:SLACK_EMAIL_BOT}', mail-type: ALL}
  array_parallelism: 256
  setup:
